<div class="client-details mt-2">
  <div class="card mb-2" *ngIf="client">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">{{ client.name }}</h5>
      <a class="btn btn-sm btn-outline-primary" [routerLink]="['edit']">
        <i class="bi bi-pencil"></i>
      </a>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row g-2">
          <div class="col-4 col-md-3 fw-bold">Address</div>
          <div class="col-8 col-md-9">{{ client.address }}</div>

          <div class="col-4 col-md-3 fw-bold">Contact</div>
          <div class="col-8 col-md-9">{{ client.contact }}</div>

          <div class="col-4 col-md-3 fw-bold">MT</div>
          <div class="col-8 col-md-9">{{ client.milkType }}</div>

          <div class="col-4 col-md-3 fw-bold">Rate:</div>
          <div class="col-8 col-md-9">₹{{ client.ratePerLiter }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">Delivery History</h5>
      <button class="btn btn-primary btn-sm" (click)="addDelivery()">
        <i class="bi bi-plus"></i> Add Delivery
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-light">
            <tr>
              <th>Date</th>
              <th>QT</th>
              <!-- <th>Notes</th> -->
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let delivery of deliveries">
              <td>{{ delivery.date | date }}</td>
              <td>{{ delivery.quantity }}</td>
              <!-- <td>{{delivery.notes}}</td> -->
              <!-- <td>
                <button class="btn btn-sm btn-outline-secondary me-1" (click)="editDelivery(delivery)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteDelivery(delivery.id!)">
                  <i class="bi bi-trash"></i>
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-danger mt-2" style="width: 100%">
    Delete Client
  </button>
</div>
